.container
  #accordion.panel-group
    - var i = 0;
    each station, index in stations
     - ++i;
     .panel.panel-default
       .panel-heading(id= station.type)
         h4.panel-title
         a(data-toggle='collapse', data-parent='#accordion', href=`#collapse${i}`) #{station.stationName}
         .panel-title.pull-right #{station.suggestedDemoLength}
         .clearfix
       .panel-collapse.collapse.in(id=`collapse${i}`)
         .panel-body
           b #{station.demonstrator}
           p #{station.stationProfile}